<div data-bs-spy="scroll" data-bs-target="#navbarExample">
    
    <!-- Navigation -->
    <nav dir="rtl" id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo 
            <a class="navbar-brand logo-image" href="index.html"><img src="images\moz\favicon.png" alt="alternative"></a> -->

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Desi</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#header">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">خدمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">مناقصه و مزایده‌ها</a>
                    </li>
         <!--           <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Drop</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="article.html">Article Details</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="terms.html">Terms Conditions</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">تماس با ما</a>
                    </li>
                </ul>
                <!--<span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span>-->
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

      
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
						<a class="navbar-brand logo-image" href="http://auctionsandtenders.sajjadyosefi.ir/app/moz.apk"><img src="images\moz\favicon.png" alt="alternative"></a>
						<br>						<br>
						<br>

                        <h1 class="h1-large">سایت تخصصی مزایده و مناقصات کشور</h1> 
    <a class="btn-solid-lg"  href="#introduction"><i class="fa fa-eye"></i> معرفی</a>
<a class="btn-solid-lg"  href="http://auctionsandtenders.sajjadyosefi.ir/app/moz.apk"><i class="fa fa-download"></i> دانلود اپلیکیشن</a>
 
						
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
        
        <!-- Video Background -->
        <video autoplay="" loop="" muted="" id="video-background" poster="images/moz/header-background.jpg" playsinline="">
            <source src="images\moz\header-background-video.mp4" type="video/mp4">
        </video>
        <!-- end of video background -->

    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Introduction -->
    <div id="introduction" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">کاملترین مرجع آگهی‌های کشور</h2>
                    <h4 class="h4-heading">در این اپلیکیشن شما دسترسی نامحدود به تمام آگهی‌های مزایده و مناقصه کشور را دارید و به راحتی می توانید با طی کمترین مراحل آگهی مزایده یا مناقصه خود را در آن ثبت کنید.</h4>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-camera"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">امکان ارسال تصویر</h4>
                            <div class="card-text">اگر آگهی شما دارای فایل تصویری است به راحتی می توانید تعداد زیادی از آنها را در آگهی درج کنید.</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-video"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">استفاده راحت</h4>
                            <div class="card-text">تمام مراحل استفاده کردن از اپلیکیشن به ساده ترین حالت پیاده سازی شده و هیچ دانش خاصی در استفاده کردن از این اپلیکیشن احتیاج نخواهید داشت.</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-paint-brush"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">محتوی معتبر</h4>
                            <div class="card-text">همکاران ما همواره تلاش می‌کنند آگهی های معتبر مزایده و مناقصه را در سایت ثبت و تایید کنند و تمام آگهی‌ها توسط همکاران ما به دقت بررسی می شوند.</div>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of introduction -->

    <!-- Details -->
	<div class="split">
		<div class="area-1">
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
            <div class="container">    
                <div class="row">
                    <div class="col-lg-12">     
                        
                        <!-- Text Container -->
                        <div class="text-container" style="text-align: right;direction: rtl;">
                            <h2>برتری ما نسبت به دیگران</h2>
                            <!--<p>احترام به نیاز مشتری همواره در دستور کار همکاران ما قرار دارد.شما در هر زمان می توانید به راحتی با ما ارتباط برقرار کنید و نسبت به مسئله پیش آمده نظرتان را بیان کنید.</p>-->
                            <p><strong>ساده‌تر -</strong>ثبت‌نام با کوتاه‌ترین مراحل انجام می شود که در آن فقط شماره موبایل و رمز دریافت می‌شود.</p>
                            <p><strong>سریع‌تر -</strong> بلافاصله بعد از ثبت‌نام به صورت اتوماتیک به تمام آگهی‌های مزایده و مناقصه دسترسی خواهید داشت و برای این کار ما به شما اعتبار اولیه خواهیم داد تا بدون از دست دادن زمان به آگهی‌ها دسترسی داشته باشید.</p>
                            <p><strong>خلاق‌تر -</strong> شما یکبار به حساب کاربری خود وارد خواهید شد و هر بار احتیاجی به وارد کردن شماره موبایل و رمز نخواهید داشت بنابراین کافیست برای دیدن محتوی آگهی‌های فقط روی آنها کلیک کنید.</p>
							<p><strong>معتبر‌تر -</strong> هیچ تماس تلفنی از سمت ما جهت دریافت هزینه گرفته نخواهد شد و تمام هزینه ها از طریق اپلیکیشن دریافت خواهد شد. با این کار احتمال کلاه برداری به صفر خواهد رسید و تمام پرداخت‌ها در اپلیکیشن ثبت و قابل ردگیری خواهند بود.</p>
                        </div> <!-- end of text-container -->
                        <!-- end of text container -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
		</div> <!-- end of area-2 -->
    </div> <!-- end of split -->
    <!-- end of details -->
	
 


    <!-- Services 1 -->
    <div id="services" class="basic-1" style="text-align: right;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images\moz\services-1.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>خلاقیت در رفع نیاز ها</h2>
                        <p>شما در همکاری با ما وارد دنیایی از خلاقیت خواهید شد.ما از ایده های شما استقبال میکنید و در صورت نیاز ایده های برتر پیشنهادی را اعمال خواهیم کرد.</p>
                        <a class="read-more no-line green" href="#">توضیحات بیشتر <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of services 1 -->


    <!-- Services 2 -->
    <div class="basic-2" style="text-align: right;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images\moz\services-2.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>تجربه کاری بالا و تیم فنی قدرتمند</h2>
                        <p>کسب و کار ها وقتی توسعه پیدا میکنند که بر پایه تجربه بنیانگذاران آن تکیه کرده باشند.ما این اطمینان را میدهیم که شما با تیم حرفه ای با تجربه بالا در حال همکاری هستید.</p>
                        <a class="read-more no-line green" href="#">توضیحات بیشتر <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of services 2 -->
    
    
    <!-- Services 3 -->
    <div class="basic-3" style="text-align: right;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images\moz\services-3.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="text-container">                        
						<h2>تماس با ما و بیان مشکلات</h2>
                        <p>احترام به نیاز مشتری همواره در دستور کار همکاران ما قرار دارد.شما در هر زمان می توانید به راحتی با ما ارتباط برقرار کنید و نسبت به مسئله پیش آمده نظرتان را بیان کنید.</p>
                        <a class="read-more no-line green" href="#">توضیحات بیشتر <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of services 3 -->

<div id="projects" class="filter bg-gray">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">مزایده و مناقصه برتر کشور</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div  class="row text-center">
                <div class="col-lg-12">
                    
                    <!-- Filter -->
                    <div class="button-group filters-button-group">
                        <button class="button is-checked" data-filter="*">نمایش همه</button>
                        <button class="button" data-filter=".business">بیزینس</button>
                        <button class="button" data-filter=".finance">مالی</button>
                        <button class="button" data-filter=".software">اقتصادی</button>
                    </div> <!-- end of button group -->
                    <div class="grid" style="position: relative; height: 1104px;">
                        <div class="element-item finance" style="position: absolute; left: 0px; top: 0px;">
                            <a href="article.html">
                                <img class="img-fluid" src="images/moz/project-1.jpg" alt="alternative">
                                <p><strong>Online banking</strong> - delivered to and to major company in pharmace ski jump from</p>
                            </a>
                        </div>
                        <div class="element-item finance" style="position: absolute; left: 371px; top: 0px;">
                            <a href="https://auctionsandtenders.sajjadyosefi.ir/pages/moz/مزایده حدود 100 تن آهن آلات ضایعاتی.html">
                                <img class="img-fluid" src="https://esghatkala.com/wp-content/uploads/2020/09/%D8%A8%D9%87%D8%AA%D8%B1%DB%8C%D9%86-%D8%AE%D8%B1%DB%8C%D8%AF%D8%A7%D8%B1-%D8%B6%D8%A7%DB%8C%D8%B9%D8%A7%D8%AA-%D9%85%DB%8C%D9%84%DA%AF%D8%B1%D8%AF-%D8%AF%D8%B1-%D8%AA%D9%87%D8%B1%D8%A7%D9%86-768x410.jpg" alt="alternative">
                                <p><strong>مزایده های سازمان اتکا</strong> - مزایده حدود 100 تن آهن آلات ضایعاتی</p>
                            </a>
                        </div>
                        <div class="element-item finance" style="position: absolute; left: 742px; top: 0px;">
                            <a href="https://auctionsandtenders.sajjadyosefi.ir/pages/moz/مناقصه اجاره چهار دستگاه خودرو سواری پژو 405 یا پژو پارس یا سمند.html">
                                <img class="img-fluid" src="https://hypertire.com/public/files/persia.jpg" alt="مناقصه پژو 405 پارس پرشیا و نیسان و مزدا">
                                <p><strong>اجاره چهار دستگاه خودرو سواری پژو 405 یا پژو پارس یا سمند</strong> - بانک ملت در نظر دارد جهت اجاره خودرو سواری، وانت نیسان و وانت مزدا تک کابین از طریق برگزاری مناقصه عمومی اقدام نماید.</p>
                            </a>
                        </div>
                        <div class="element-item business finance" style="position: absolute; left: 0px; top: 368px;">
                            <a href="article.html">
                                <img class="img-fluid" src="images/moz/project-4.jpg" alt="alternative">
                                <p><strong>Financial products</strong> - thoroughly estimating introduced stimulated why but front</p>
                            </a>
                        </div>
                        <div class="element-item business finance" style="position: absolute; left: 371px; top: 368px;">
                            <a href="https://auctionsandtenders.sajjadyosefi.ir/pages/moz/خرید 200 تن گوشت منجمد گوساله.html">
                                <img class="img-fluid" src="http://sahebkhabar.ir/hermes/mashreghnews/mashreghnews-1082730.jpg" alt="مزایده و مناقصه"> 
								<p><strong>خرید 200 تن گوشت منجمد گوساله</strong> - سازمان اتکا با بیش از 60 سال تلاش در حوزه های اقتصادی ومالی،بازرگانی خارجی،صنعتی،کشاورزی ودامپروری،فروشگاهی وتوزیع کالا،بعنوان یک از بزرگترین شرکت های مادر تخصصی اقتصادی ایران به شمار می آید.</p>
                            </a>
                        </div>
                        <div class="element-item business software" style="position: absolute; left: 742px; top: 368px;">
                            <a href="https://auctionsandtenders.sajjadyosefi.ir/pages/moz/مزایده زمین مسکونی در گیلان (رانکوه).html">
                                <img class="img-fluid" src="images/moz/project-6.jpg" alt="alternative">
                                <p><strong>مزایده زمین با کاربری مسکونی</strong> - شهرداری رانکوه  در استان گیلان در نظر دارد از طریق مزایده یک قطعه زمین با کابری مسکونی واقع در بلوار شهید فخری زاده (تازه آباد) اساس قیمت کارشناسی انجام شده به فروش برساند (جزئیات ...)</p>
                            </a>
                        </div>
                        <div class="element-item business software" style="position: absolute; left: 0px; top: 736px;">
                            <a href="article.html">
                                <img class="img-fluid" src="images/moz/project-7.jpg" alt="alternative">
                                <p><strong>Company control</strong> - steepest oh screened he gravity he mr sixteen esteems his</p>
                            </a>
                        </div>
                        <div class="element-item business software" style="position: absolute; left: 371px; top: 736px;">
                            <a href="article.html">
                                <img class="img-fluid" src="images/moz/project-8.jpg" alt="alternative">
                                <p><strong>Audit reports</strong> - mile home its new way with high told said finished to learn</p>
                            </a>
                        </div>
                        <div class="element-item business software" style="position: absolute; left: 742px; top: 736px;">
                            <a href="article.html">
                                <img class="img-fluid" src="images/moz/project-9.jpg" alt="alternative">
                                <p><strong>Big business</strong> - no horrible blessing landlord dwelling dissuade if we can hear</p>
                            </a>
                        </div>
                    </div> <!-- end of grid -->
                    <!-- end of filter -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div>

    <!-- Testimonials -->
    <div class="slider-1">
        <img class="text-decoration img-fluid" src="images\moz\testimonials-decoration.png" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="images\moz\testimonial-1.jpg" alt="alternative">
                                    <p class="testimonial-text" style="direction: rtl;">“اپلیکیشنی کاربردی هست که میشه تمامی مزایده ها و مناقصه های ساختمانی رو یکجا دید و بین اونها مناسب ترین مزایده ها رو انتخاب کرد. همیشه لازم نیست برای برنده شدن توی مزایده بالاترین پیشنهاد رو بدید گاهی وقتها با انتخاب سریع شما تنها بازیگر اون مزایده هستید و با هر قیمتی برنده ی مزایده خواهید بود. از تیم جوان این مجموعه سپاسگزارم که با هزاران آگهی مزایده ای که در اپلیکیشن گذاشته من برنده پانزده مزایده معتبر در کشور شدم.”</p>
                                    <div class="testimonial-author">قادر علیزاده</div>
                                    <div class="testimonial-position">پیمانکار</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="images\moz\testimonial-2.jpg" alt="alternative">
                                    <p class="testimonial-text" style="direction: rtl;">“چقدر زمانبر خواهد بود که بخواهیم برای دیدن یک آگهی مزایده قوه قضایی بین دادگستری های مختلف جابجا بشی یا مثلاً ده - دوازده تا روزنامه بخری و دونه دونه دنبال آگهی های مزایده ها بگردی ، توی این اپ خیلی راحت روزانه بیشتر از ۱۰۰ آگهی مزایده درج میشه ‌و سرچ کردن داخل این تعداد آگهی هم به راحتی انجام میشه.”</p>
                                    <div class="testimonial-author">جان اسپیکر</div>
                                    <div class="testimonial-position">لیدر تیم فنی</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="images\moz\testimonial-3.jpg" alt="alternative">
                                    <p class="testimonial-text" style="direction: rtl;">“من مدیر فنی یک تیم افزاری هست با توجه به شناختی که از این پروژه دارم از نظر فنی بسیار عالی پیاده سازی و توسعه داده میشود و تمام مشکلات امنیتی راه رفع کرده اند به راحتی میشه به سیستم و مجموعه ی آن اعتماد کرد ، از نظر UI,ux پیشرفت خوبی داشته اند ولی هنوز جای کار دارند و برای مدیران آن آرزوی موفقیت دارم.”</p>
                                    <div class="testimonial-author">محمد رضا احمدی</div>
                                    <div class="testimonial-position">مدیر اپلیکیشن های بازار</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                            </div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->
        
                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of testimonials -->


    <!-- Statistics -->
    <div class="counter bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Counter -->
                    <div class="counter-container">
                        <div class="counter-cell">
                            <div data-purecounter-start="0" data-purecounter-end="231" data-purecounter-duration="3" class="purecounter">1</div>
                            <div class="counter-info">مشتری های راضی</div>
                        </div> <!-- end of counter-cell -->
                        <div class="counter-cell">
                            <div data-purecounter-start="0" data-purecounter-end="385" data-purecounter-duration="1.5" class="purecounter">1</div>
                            <div class="counter-info">مزایده های موفق</div>
                        </div> <!-- end of counter-cell -->
                        <div class="counter-cell">
                            <div data-purecounter-start="0" data-purecounter-end="159" data-purecounter-duration="3" class="purecounter">1</div>
                            <div class="counter-info">مناقصات موفق</div>
                        </div> <!-- end of counter-cell -->
                        <div class="counter-cell">
                            <div data-purecounter-start="0" data-purecounter-end="128" data-purecounter-duration="3" class="purecounter">1</div>
                            <div class="counter-info">شریک تجاری</div>
                        </div> <!-- end of counter-cell -->
                    </div> <!-- end of counter-container -->
                    <!-- end of counter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->


    <!-- Contact -->
    <div id="contact" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">پل های ارتباطی</h2>
                    <p class="p-heading">ما پیشنهادات و انتقادات شما را به دقت بررسی و در راستای بهبود کارایی سیستم و اپلیکیشن به کار خواهیم برد.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li><i class="fas fa-map-marker-alt"></i> &nbsp;ایران - تهران - حد فاصل میدان انقلاب و میدان آزادی پلاک 254543</li>
                        <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:00989999816652">+98 9999 81 6652</a></li>
                        <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:contact@auctionsandtenders.ir">contact@auctionsandtenders.ir</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    
                    <!-- Contact Form -->
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control-input" placeholder="Name" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" placeholder="Message" required=""></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">ارسال</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->


    <!-- Footer -->
    <div dir="rtl" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first" style="margin-right: 1rem;">
                        <h6>مزایده و مناقصات</h6>
                        <p class="p-small">همکاران ما همواره تلاش میکنند اگهی های معتبر مزایده و مناقصه را در سایت ثبت و تایید کنند و تمام اگهی ها توسط همکاران ما به دقت بررسی می شوند.
</p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second"  style="margin-right: 1rem;">
                        <h6>لینک ها</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li>
								<a  target="_blank"  href="https://www.ikco.ir/fa/auctions.aspx">مزایده های شرکت ایران خودرو</a>, 
								<a  target="_blank" href="https://auc.saipacorp.com/">مزایده های سایپا</a>,
								<a  target="_blank" href="https://adliran.ir/">سامانه عدل ایران- قوه قضایی</a>
							</li>
                            <li>
								<a  target="_blank" href="https://metro.tehran.ir/%D8%A7%D8%B1%D8%AA%D8%A8%D8%A7%D8%B7-%D8%A8%D8%A7-%D9%85%D8%A7/%D9%85%D9%86%D8%A7%D9%82%D8%B5%D9%87-%D9%85%D8%B2%D8%A7%DB%8C%D8%AF%D9%87-%D9%81%D8%B1%D8%A7%D8%AE%D9%88%D8%A7%D9%86-%D9%88-%D8%AD%D8%B1%D8%A7%D8%AC/cid/10291">مزایده مترو تهران</a>, 
								<a  target="_blank" href="https://www.ict.gov.ir/fa/bishtar/monaghese">مناقصات مخابرات</a>, 
								<a  target="_blank" href="https://www.torc.ir/Tenders/ArchiveThenders">مناقصات شرکت نفت</a>,
								<a  target="_blank" href="https://pim.ksc.ir/GeneralTenders/Index">مناقصات شرکت فولاد</a>
							</li>
                        </ul>
						<h6>کلمات کلیدی</h6>
						<ul class="list-unstyled li-space-lg p-small">
							<li><h6>مناقصات</h6><h6>مزایده</h6></li>
							<li></li>
							<li><h6>قوه قضایی</h6></li>
						</ul> 
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third"  style="margin-right: 3rem;">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small">ما پیشنهادات و انتقادات شما را خواهیم شنید <a href="mailto:contact@site.com"><strong>contact@site.com</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © <a href="http://sajjadyosefi.ir">parsapardazgharb</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    

    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="images\moz\up-arrow.png" alt="alternative">
    </button>
    <!-- end of back to top button -->
    	
    <!-- Scripts --> 
    <script src="~/Content/moz/js/bootstrap.min.js"></script>
    <script src="~/Content/moz/js/swiper.min.js"></script> 
    <script src="~/Content/moz/js/purecounter.min.js"></script>
    <script src="~/Content/moz/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/moz/js/scripts.js"></script>
</div>
